.datos{
    @apply h-screen flex flex-col items-center justify-center;
}

.imagen{
    @apply image-full pb-2;
}

.color-text{
    color:var(--morado)
}

h1 span{
    color:var(--rojo);
    padding-left: 6px;
}

.item ul{
    @apply pl-5 list-disc;
    color: var(--morado);
}

.item ul li{
    @apply mb-2;
}