.aboutScreen{
    @apply mt-0 pt-0
}
.aboutScreen p {
    @apply mb-12 text-xl mt-0 text-gray-700;
}

.aboutScreen .title_Descripcion {
    @apply text-[18px] mb-[4em] font-bold uppercase tracking-[5px] leading-[1.8] relative text-gray-800;
}

.aboutScreen .card_About{
    @apply items-center p-5 sm:flex-1;
}

.aboutScreen .icon {
    @apply w-14 h-14 items-center justify-center inline-flex
     bg-gray-100 rounded-full;
}

.aboutScreen .icon-style {
    @apply text-2xl;
    color: var(--morado);
}

.aboutScreen  figcaption > h3{
    @apply text-xl;
    color: var(--morado);
}

.aboutScreen figcaption > h4{
    @apply text-base font-normal text-gray-600 opacity-100;
}

.section_curva{
    @apply  bg-[#872075] w-full;
}

.curva{
    @apply mt-[110px] w-full md:mt-[60px];
}

.card_About ol {
    @apply pl-5 list-disc;
    color: var(--morado);
}
.card_About span {
    @apply text-gray-800;
}
