.aboutScreen p {
    @apply mb-12 text-xl mt-0 text-gray-700;
}

.aboutScreen .title_Descripcion {
    @apply text-[18px] mb-[4em] font-bold uppercase tracking-[5px] leading-[1.8] relative text-gray-800;
}

.aboutScreen .card_About{
    @apply items-center p-5 sm:flex-1;
}

.aboutScreen .icon {
    @apply w-14 h-14 items-center justify-center inline-flex
     bg-gray-100 rounded-full;
}

.aboutScreen .icon-style {
    @apply text-2xl;
    color: var(--morado);
}

.aboutScreen  figcaption > h3{
    @apply text-xl;
    color: var(--morado);
}

.aboutScreen figcaption > h4{
    @apply text-base font-normal text-gray-600 opacity-100;
}

.wave {
    @apply mt-[110px];
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    display: block;
    width: calc(113% + 1.3px);
    height: 197px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #872075;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave svg {
        width: calc(100% + 1.3px);
        height: 133px;
    }
}

.card_About ol {
    @apply pl-5 list-disc;
    color: var(--morado);
}
.card_About span {
    @apply text-gray-800;
}
